#top-comment-text {
    color: gray;
}

.content-div {
    padding-bottom: 24px;
}

#section-title {
    font-size: 48px;
    font-weight: 500;
    padding: 24px 0px;
}

#section-content {
    font-size: 20px;
    font-weight: 300;
}